<template>
  <div class="form">
    <h1 class="title is-4">Log In</h1>
    <form @submit.prevent="submit">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            :class="['input', { 'is-danger': error }]"
            type="text"
            placeholder="Username"
            v-model="username">
          <span class="icon is-small is-left">
            <icon type="user" />
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input
            :class="['input', { 'is-danger': error }]"
            type="password"
            placeholder="Password"
            v-model="password">
          <span class="icon is-small is-left">
            <icon type="lock" />
          </span>
        </div>
        <p v-if="error" class="help is-danger">{{error}}</p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" @click.prevent="submit">Log In</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import mAccount from '../mixins/account';
import { postLogin } from '../http';

export default {
  mixins: [mAccount],

  data() {
    return {
      username: '',
      password: '',
      error: null
    };
  },

  methods: {
    async submit() {
      try {
        const {
          data: {
            data: { token }
          }
        } = await postLogin(this.username, this.password);

        if (token) {
          this.$store.commit('login', token);
          this.redirect();
        }
      } catch (error) {
        this.error = 'Wrong password or username';
      }
    }
  }
};
</script>

<style lang="sass" scoped>
.form
  max-width: 500px
  margin: 0 auto

  form
    padding: 0 1em

.feather
  width: 1.1em
  height: 1.1em
</style>
