<template>
  <div class="form">
    <h1 class="title is-4">Sign Up</h1>
    <form @submit.prevent="submit">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input
            :class="['input', { 'is-success': usernameAvailable, 'is-danger': usernameTaken }]"
            type="text"
            placeholder="Username"
            v-model="username">
          <span class="icon is-small is-left">
            <icon type="user" />
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input
            :class="['input', { 'is-success': emailAvailable, 'is-danger': emailInvalid || emailTaken  }]"
            type="email"
            name="email"
            placeholder="mail@example.org"
            v-model="email">
          <span class="icon is-small is-left">
            <icon type="mail" />
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input
            :class="['input', { 'is-danger': passwordInvalid }]"
            type="password"
            name="password"
            placeholder="Password"
            v-model="password">
          <span class="icon is-small is-left">
            <icon type="lock" />
          </span>
        </div>
        <p v-if="error" class="help is-danger">{{error}}</p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" @click.prevent="submit">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import mAccount from '../mixins/account';
import { signup } from '../http';

export default {
  mixins: [mAccount],

  props: ['onAuth'],

  // Gotta implement all the validation yourself, I'm not doing that shit
  data() {
    return {
      username: '',
      email: '',
      password: '',
      usernameAvailable: null,
      usernameTaken: null,
      emailAvailable: null,
      emailInvalid: null,
      emailTaken: null,
      passwordInvalid: false,
      error: null
    };
  },

  methods: {
    async submit() {
      try {
        const signedUp = await signup(this.username, this.email, this.password);

        if (signedUp) {
          this.onAuth();
          this.redirect();
        }
      } catch (error) {
        this.error = error.message;
      }
    }
  }
};
</script>

<style lang="sass" scoped>
.form
  max-width: 500px
  margin: 0 auto

  form
    padding: 0 1em

.feather
  width: 1.1em
  height: 1.1em
</style>
