<template>
  <div class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="brand" to="/">OTM</router-link>
      <div class="navbar-burger is-hidden-desktop" @click.prevent="toggleMenu">
        <icon type="menu" />
      </div>
    </div>
    <div :class="['navbar-menu', { 'is-active': showNav }]">
      <div class="navbar-start">
        <router-link v-if="lockRoles(['student'])" class="navbar-item" to="/thesis">Thesis</router-link>
        <router-link v-if="lockRoles(['teacher'])" class="navbar-item" to="/list">List</router-link>
        <router-link v-if="lockRoles(['admin'])" class="navbar-item" to="/overview">Overview</router-link>
        <router-link v-if="lockRoles(['admin'])" class="navbar-item" to="/add">Add User</router-link>
        <router-link v-if="lockRoles(['admin'])" class="navbar-item" to="/toggle">Add User</router-link>
      </div>
      <div class="navbar-end">
        <a v-if="$store.state.auth.isAuthenticated" class="navbar-item" @click.prevent="logOut">Sign Out</a>
        <router-link v-if="!$store.state.auth.isAuthenticated" class="navbar-item" to="/login">Login</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showNav: false
    };
  },

  methods: {
    lockRoles(roles) {
      return roles.includes(this.$store.getters.userRole);
    },

    toggleMenu() {
      this.showNav = !this.showNav;
    },

    logOut() {
      this.$store.commit('logout');
      this.$router.push('/');
    }
  },

  watch: {
    $route() {
      // Close navigation on route change
      this.showNav = false;
    }
  }
};
</script>
