<template>
  <div v-if="loading" class="loading">
    Loading...
  </div>
  <div v-else-if="noAPI" class="no-api">
    <p>Can't connect to the server</p>
  </div>
  <div v-else class="app">
    <Navigation :authenticated="$store.state.auth.authenticated" />
    <section v-if="error" class="hero is-danger">
      <div class="hero-body">
        <div class="container">
          <icon type="alert-triangle" />
          <span>{{'s'}}</span>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <router-view :authenticated="$store.state.auth.isAuthenticated" />
      </div>
    </section>
  </div>
</template>

<script>
import { fetchIsAuthenticated } from './http';
import Navigation from './components/Navigation';

export default {
  components: {
    Navigation
  },

  data() {
    return {
      loading: true,
      error: false,
      noAPI: false
    };
  },

  async created() {
    try {
      const isAuthenticated = await fetchIsAuthenticated();
      this.$store.commit('setAuthenticated', true);
    } catch (error) {
      if (!error.response || error.response.status === 404) {
        this.noAPI = true;
      } else if (this.$router.currentRoute.name !== 'login') {
        this.$router.push('/login');
      }
    } finally {
      this.loading = false;
    }
  }
};
</script>


<style lang="sass">
html
  background: #f9f9f9

body
  font-family: 'Work Sans' Helvetica Arial sans-serif

.brand
  padding: 0.8rem 1.5rem 0
  font-size: 1.1rem
  font-weight: bold

.navbar-burger
  display: flex
  justify-content: center
  align-items: center
  .feather
    width: 2rem
    height: 2rem

.hero-body
  padding: 1em

  .feather
    display: inline-block
    vertical-align: middle
    margin-right: 0.5rem;

  span
    display: inline-block
    vertical-align: middle

.loading
.no-api
  display: flex
  height: 100vh
  width: 100%
  justify-content: center
  align-items: center
  font-size: 22px
</style>
